body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: white;
}

header img {
  margin-top: 2em;
  width: 200px;
  margin-bottom: 2em;
}

main {
  text-align: center;
}

input[type='radio'] {
  display: none;
}

p {
  font-size: 60px;
  padding-bottom: 1em;
  color: white;
}

fieldset {
  border: none;
}

.container {
  display: inline-block;
  width: 250px;
}

.radio-label {
  width: 100%;
  font-size: 16px;
  padding: 1em 5em;
  font-weight: bold;
  border-radius: 40px 40px;
  background-color: #22284e;
  color: white;
  border: 3px solid;
  cursor: pointer;
}

input[type='radio']:checked + .radio-label {
  border-left-color: #d20094;
  border-top-color: #d20094;
  border-bottom-color: #900080;
  border-right-color: #900080;
  background: linear-gradient(
    56deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 1) 100%
  );
}

.radio-label:hover {
  background: linear-gradient(
    166deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 1) 100%
  );
}

.radio-label:active {
  position: relative;
  top: 3px;
}

#number-label {
  font-size: 2em;
  margin: 2em 0 1em;
  display: block;
}

#number {
  display: block;
  margin: 2em auto;
  background-color: none;
  background: transparent;
  color: white;
  border: 3px solid;
  padding: 0.5em 1.5em;
}

#start-button {
  padding: 1em 3em;
  margin-top: 2em;
  font-size: larger;
  font-weight: 600;
  border: none;
  background-color: #00ffff;
  -webkit-box-shadow: 0px 0px 14px 3px #00ffff;
  box-shadow: 0px 0px 14px 3px #00ffff;
}
