body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

#logo {
  width: 200px;
}

header {
  text-align: left;
  margin: 6em 8em;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 2rem 0;
}

h3 {
  font-size: 2em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#stars {
  margin: 5em 0;
}

#stars img {
  width: 5%;
}

form {
  margin: 3em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

form label {
  font-size: 2em;
  display: block;
  margin: 2em 0;
}

form input {
  border: none;
  border-bottom: 2px solid #d20094;
  background-color: none;
  background: transparent;
  width: 100%;
  padding: 1rem 3rem;
}

input::placeholder {
  font-size: 2em;
}

footer button {
  margin-top: 3rem;
  padding: 1.5rem 4rem;
  font-size: 1.5em;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 14px 3px #00ffff;
  box-shadow: 0px 0px 14px 3px #00ffff;
  background-color: #00ffff;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

