body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}

header img {
  margin-top: 2em;
  width: 200px;
  margin-bottom: 2em;
  padding-left: 9em;
  padding-top: 1em;
}

#title {
  text-align: center;
  margin-bottom: 50px;
}

#title h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

#title h3 {
  font-size: 44px;
  color: #d20094;
  margin-bottom: 20px;
}

#result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 100px;
}

#correct,
#wrong {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#correct h2,
#wrong h2 {
  font-size: 44px;
  margin-bottom: 10px;
  font-weight: 700;
}

.percentage {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.questions {
  font-size: 18px;
}

#correct .percentage {
  color: #00ffff;
}

#wrong .percentage {
  color: #d20094;
}

#graphic-container {
  flex-basis: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#donut {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
}

#donut::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #0c113b;
  border-radius: 50%;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}

#text h2 {
  font-size: 20px;
  color: #00ffff;
  margin-bottom: 8px;
}

#text h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

#text p {
  font-size: 12px;
  line-height: 1.4;
}

footer {
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid white;
}

footer a:hover {
  background-color: #d20094;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}
