body {
  background-image: url(../img/bg.jpg);
  height: 100%;
  background-repeat: no-repeat;
  margin-left: 12%;
  font-family: 'Outfit';
  background-size: cover;
}
img {
  margin-top: 5%;
  width: 200px;
}
h1 {
  color: white;
  font-size: 6em;

  line-height: 0.7;
  margin-top: 6%;
}
h3 {
  color: #c2128d;
  font-size: 3em;

  font-weight: 600;
  margin-top: 6%;
}

strong {
  font-weight: bold;
}
p {
  font-size: 1.8em;
  color: white;
  margin-top: 1.5%;
  line-height: 1.1;
  font-weight: 200;
}
ul {
  color: white;
  margin-top: 7%;
  line-height: 1.5;
}
li {
  font-size: 1.8em;
  margin-left: 1.2em;
  font-weight: 200;
}

label {
  color: white;
  font-size: 1.8em;
}
form {
  margin-top: 10%;
}
button {
  background-color: #00ffff;
  padding: 1.5% 5%;
  font-weight: 700;
  margin-left: 4em;
  color: #0b113b;
  font-size: 2em;
  box-shadow: 0px 0px 13px 7px rgba(0, 255, 255, 0.32);
  border: 0;
  cursor: pointer;
}

footer {
  margin-bottom: 10%;
}

input {
  width: 25px !important;
  height: 25px !important;
  margin-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 2px solid rgb(255, 255, 255);
  box-shadow: none;
  font-size: 2em;
  vertical-align: sub;
  cursor: pointer;
}

input:checked {
  background-color: #00ffff;
}
